* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(238, 238, 238);
    text-align: center;
    margin: 30px;
  }
  h2 h3 {
      font-family: sans-serif;
      font-size: 72;
      font-weight: 50;
  }
  em {
      font-size: 14px;
      font-weight: 100;
  }
  #header {
    padding-top: 25px;
    padding-bottom: 25px;     
  }
  #img-div {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    box-shadow: 0px 0px 10px 5px rgba(202, 202, 202, 0.42);
  }

  #img-caption {
    text-align: center;
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #image {
    display: block;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  section {
    margin: auto;
    width: 50%;
  }
  li {
      font-weight: 10;
      padding: 5px;
  }
  #tribute-info {
    text-align: center;
  }

  #list {
    text-align: left;
  }